*{
  margin:0px;
  padding:0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}

img{
background-color: rgb(174, 200, 236);
}
#upPart{
  display:flex;
  background-color: rgb(174, 200, 236);
  height:50px;
  padding-left:40px;
}
.up{
  margin-right:90px;
  text-decoration: none;
  margin-top:5px;
  font-size: 30px;
  display:flex;
  color:darkblue;
  font-weight: 100;
}
#konto{
color: white;
}
#logo{
color: white;
margin-left:20px; 
margin-right: 70px;
font-weight: 700;
}
#google{
height:45px;
width:150px;
border-radius:10%;
border: 1px solid white;
}
#app{
height:44px;
width:150px;
border: 1.3px solid rgb(144, 141, 141);
border-radius:6.5px;
}
a{
text-decoration: none;
}
#downPart{
width: 100%;
background-color:rgb(12, 4, 60); 
height:250px;
}
#iframes{
margin-right: 200px;
}
h4{
color:white;
margin-left: 10px;

}
#applikacje{
padding-left:5px;
}
#logos{
display:flex;
}
p{
color:white;
margin-top: -24px;
margin-left:3px;
}
.img{
border-radius:50%;
margin-left:5px;
position:relative;
transition-duration: 2s;
transition: ease-in;
height:40px;
width:40px;

}
.img:hover{
height:45px;
width:45px;
margin-top:-5px;
}

#mainPart{
margin-left:220px;
text-align:center;
margin-bottom:20px;
margin-top:40px;
}


#text{
margin-top:30px;
text-align: center;
margin-left:40px;
}
h6{
padding: 0px 30px 0px 30px;
color:rgb(0, 0, 0);
}
h5{
color:rgb(2, 2, 97);
font-size:25px;
}
h6{
font-size:18px;
}
#anim{
height:310px;
}

#td{
background-color:rgb(174, 200, 236);
height:20px;
width: 200px;
padding: 5px;
font-size:30px;
color:darkblue;
border-radius:20px;
margin-top:90px;
}
#tdCZAS{
  background-color:rgb(174, 200, 236);
  height:20px;
  width: 150px;
  padding: 5px;
  font-size:20px;
  color:darkblue;
  border-radius:20px;
  margin-top:90px;
  }
  #tdCENA{
    background-color:rgb(174, 200, 236);
    height:20px;
    width: 100px;
    padding: 5px;
    font-size:25px;
    color:darkblue;
    border-radius:20px;
    margin-top:90px;
    }
#th{
background-color:darkblue;
height:30px;
width:100px;
padding: 5px;
font-size:30px;
color:rgb(174, 200, 236);
border-radius:20px;
margin-bottom:20px;
}

a{
text-decoration:none;
color:rgb(255, 255, 255);
}
table{
  border-spacing: 10px;
  }

#butKup{
  background-color:darkblue;
  border: 1px solid darkblue;
  padding:10px;
  border-radius:30px;
}

#kupic{
  font-weight: bold;
  color: rgb(174, 200, 236);
  margin-top:-15px;
  font-size: 20px;
}
h1{
  margin-right: 180px;
  margin-bottom: 30px;
  color: darkblue;
}
#h1{
  margin-right: 180px;
  margin-bottom: 10px;
  color: rgb(165, 165, 210);
  font-size:20px;
}


@media only screen and (max-width: 600px) {
  *{
    margin:0px;
    padding:0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
}

img{
    background-color: rgb(174, 200, 236);
}

#upPart{
    display:flex;
    background-color: rgb(174, 200, 236);
    height:30px;
    padding-left:5px; /* Уменьшаем отступ для мобильных устройств */
}

.up{
    margin-right:2px; /* Уменьшаем отступ для мобильных устройств */
    text-decoration: none;
    margin-top:5px;
    font-size: 18px; /* Уменьшаем размер шрифта для мобильных устройств */
    display:flex;
    color:darkblue;
    font-weight: 100;
    margin-left:15px;
}

#konto{
    color: white;
}

#logo{
    color: white;
    margin-left:2px;/* Уменьшаем отступ для мобильных устройств */
    font-weight: 700;
    margin-right:3px;
}

#google{
    height:35px; /* Уменьшаем высоту кнопки для мобильных устройств */
    width:100px; /* Уменьшаем ширину кнопки для мобильных устройств */
    border-radius:5%; /* Уменьшаем радиус закругления для мобильных устройств */
    border: 1px solid white;
}

#app{
    height:35px; /* Уменьшаем высоту кнопки для мобильных устройств */
    width:100px; /* Уменьшаем ширину кнопки для мобильных устройств */
    border: 1px solid rgb(144, 141, 141);
    border-radius:6.5px;
}
#tdCZAS{
  background-color:rgb(174, 200, 236);
  height:20px;
  width: 150px;
  padding: 5px;
  font-size:20px;
  color:darkblue;
  border-radius:10px;
  margin-top:90px;
  }
a{
    text-decoration: none;
}
#butKup{
  background-color:darkblue;
  border: 1px solid darkblue;
  padding:5px;
  border-radius:30px;
}

#kupic{
  font-weight:800;
  color: rgb(174, 200, 236);
  margin-top:-30px;
  font-size: 15px;
}
#downPart{
    width: 100%;
    background-color:rgb(12, 4, 60); 
    height:170px; /* Уменьшаем высоту для мобильных устройств */
}

#iframes{
    margin-right: 50px; /* Уменьшаем отступ для мобильных устройств */
}

h4{
    color:white;
    margin-left: 10px;
}

#applikacje{
    padding-left:5px;
    width:80%; /* Увеличиваем ширину блока для мобильных устройств */
}

#logos{
    display:flex;
}

p{
    color:white;
    margin-top: -24px;
    margin-left:3px;
}

.img{
    border-radius:50%;
    margin-left:5px;
    position:relative;
    transition-duration: 2s;
    transition: ease-in;
    height:30px; /* Уменьшаем высоту изображения для мобильных устройств */
    width:30px; /* Уменьшаем ширину изображения для мобильных устройств */
}

.img:hover{
    height:35px; /* Увеличиваем высоту при наведении для мобильных устройств */
    width:35px; /* Увеличиваем ширину при наведении для мобильных устройств */
    margin-top:-5px;
}

#mainPart{
    width:90%;
    margin-left:3px; /* Уменьшаем отступ для мобильных устройств */
    text-align:center;
    margin-bottom:20px;
}

#mainPartForm {
    width: 250px; /* Уменьшаем ширину блока для мобильных устройств */
    margin: 10 auto; /* Центрируем по горизонтали */
    padding: 15px; /* Уменьшаем отступы внутри блока для мобильных устройств */
    border: 2px solid blue; /* Синяя рамка */
}

#text{
    margin-top:10px; /* Уменьшаем отступ для мобильных устройств */
    text-align: center;
    margin-left:5px; 
    font-size:10px;/* Уменьшаем отступ для мобильных устройств */
}

h6{
    padding: 0px 15px 0px 15px; /* Уменьшаем отступы для мобильных устройств */
    color:rgb(0, 0, 0);
}

h5{
    color:rgb(2, 2, 97);
    font-size:20px; /* Уменьшаем размер шрифта для мобильных устройств */
}

h6{
    font-size:15px; /* Уменьшаем размер шрифта для мобильных устройств */
}

#anim{
    height:210px; /* Уменьшаем высоту блока для мобильных устройств */
}

#polecane{
    height:200px; /* Уменьшаем высоту блока для мобильных устройств */
    width:1000px; /* Увеличиваем ширину блока для мобильных устройств */
    align-items:center;
    justify-content: center;
    display: flex;
    background-color: rgb(174, 200, 236);
    margin-top:40px; /* Уменьшаем отступ для мобильных устройств */
    margin-left:20px; /* Уменьшаем отступ для мобильных устройств */
}

td{
    background-color:rgb(174, 200, 236);
    height:50px; /* Уменьшаем высоту ячейки для мобильных устройств */
    width:200px; /* Уменьшаем ширину ячейки для мобильных устройств */
    padding: 2px;
    font-size:30px; /* Уменьшаем размер шрифта для мобильных устройств */
    font-weight:400;
    color:darkblue;
    padding-top:2px;
    border-radius:10px; /* Уменьшаем радиус закругления для мобильных устройств */
}
#td{
    background-color:rgb(174, 200, 236);
    height:50px; /* Уменьшаем высоту ячейки для мобильных устройств */
    width:190px; /* Уменьшаем ширину ячейки для мобильных устройств */
    padding: 8px;
    font-size:20px; /* Уменьшаем размер шрифта для мобильных устройств */
    font-weight:400;
    color:darkblue;
    padding-top:2px;
  
    border-radius:10px; /* Уменьшаем радиус закругления для мобильных устройств */
}


a{
    text-decoration:none;
    color:rgb(255, 255, 255);
}

#a{
    transition: 0.4s;
}

#a:hover{
    color:darkblue;
    font-weight: bold;
}

table{
    border-spacing: 10px;
    margin-left:16px;
    /* Уменьшаем расстояние между ячейками для мобильных устройств */
}
#th{
  background-color:darkblue;
  height:30px;
  width:60px;
  padding: 8px;
  font-size:20px;
  color:rgb(174, 200, 236);
  border-radius:20px;
  margin-bottom:20px;
  }

h1{
    text-align: center;
    padding-left:100px;
    width:300px;
    font-size:20px; /* Уменьшаем отступ для мобильных устройств */
    color:darkblue;
}
#tdCZAS{
  background-color:rgb(174, 200, 236);
  height:20px;
  width: 150px;
  padding: 5px;
  font-size:15px;
  color:darkblue;
  border-radius:10px;
  margin-top:90px;
  }
  #tdCENA{
    background-color:rgb(174, 200, 236);
    height:10px;
    width: 60px;
    padding: 5px;
    font-size:20px;
    color:darkblue;
    border-radius:10px;
    margin-top:90px;
    }
}